---
title:  Yee's World | 一尘一世界
layout: default
---


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Favorite | 收藏</h5>
      {% assign docs = site.docs | sort: "date" | reverse %}
      {% for doc in docs %}
      <p>
          <strong><a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a></strong>
            <span class="font-small">  {% if doc.author %} {{ doc.author }} {% endif %}</span>
      </p>
      {% endfor %}
    </div>
      <div class="col-md-6">
        <h5>Blog | 记录</h5>
        {% for page in site.posts %}
          <p>
            <strong><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></strong>
            <span class="font-small"> {{ page.date | date: "%Y-%m-%d" }} </span>
          </p>
        {% endfor %}
      </div>
  </div>
</div>
